 .create {
     margin: 36px;
     width: 844px;

 }

 .header {
    display: flex;
    justify-content: center;
}

body{
    margin-left: 9px;
    border-radius: 33px;
}

.logo_title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
.footer {
    padding: 8px;
}